<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andriod.kianoushekhteraei.kotlinproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Components.Base.ApplicationClass"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.KotlinProject">
        <activity android:name=".Activities.ForgetPassword.Stp_Three_NewPassword"></activity>
        <activity android:name=".Activities.ForgetPassword.StpTwo_VerifyCode" />
        <activity android:name=".Activities.ForgetPassword.StpOne_GetEmail" />
        <activity android:name=".Activities.SignUp.SignUpActivity" />
        <activity android:name=".Activities.Login.LoginActivity" />
        <activity
            android:name=".Activities.Dialogs.InternetActivity"
            android:theme="@style/InternetDialog" />
        <activity android:name=".Activities.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Main.MainActivity" />
    </application>

</manifest>